$text-color: #776E65;
$bright-text-color: #f9f6f2;
$background-color: #faf8ef;

$blue: #0090C0;
$red:   #E0645C;
$dark:  #444444;
$light: #999999;
$green: #46b98a;
$white: #FFFFFF;
$orange: #f1c40f;


html, body {
  margin: 0;
  padding: 0;
	position: relative;
  background: $background-color;
  color: $text-color;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;

}

h1 {
  font-size: 4em;
}

#main {
  padding: 50px;
  margin-right: -300px;
  &.toggled {
    margin-right: 0px;
  }
}

#game {
  right: 500px;
  display: block;
  margin: 50px auto;
}

.wrapper {
  width: 100%;
  .row {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  button {
    width: 90%;
  }
}

.header_menu {
  margin-top: 20px;
  display: inline-block;
  position: absolute;
  z-index: 10;
  top: 40px;
  left: 20px;
}

.sidebar {
  float: left;
  position: fixed;
  height: 100%;
  width: 300px;
  margin: 0 auto;
  margin-left: -300px;
  display: block;
  padding: 20px;
  background-color: $orange;
  .controls {
    text-align: center;
    display: block;
  }
  &.toggled {
    margin-left: 0;
  }
  .instructions {
    margin: 20px;
    p {
      text-align: left;
      font-size: 0.9em;
    }
  }
}

